* {
  box-sizing: border-box;
}

body {
  background: #d0e0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

.data-card {
  height: 100px;
  width: 100px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.data-card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 80%;
  height: 80%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.data-card .front,
.data-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.data-card .front {
  background: #fff;
  transform: rotateY(180deg);
}

.data-card .back {
  background: blueviolet;
  background-size: cover;
  color: #d6aeb5;
  transition: 0.3s ease all;
}
